/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

/* Full screen center */
body {
  background: linear-gradient(135deg, #1e1e2f, #2b2b45);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.Tern{
  font-size: 50px;
  color: aqua;
}
.hell{
  font-size: 50px;
  color: aqua;
  background-color: linear-gradient(135deg, #1e1e2f, #2b2b45);
}

button {
  background: inherit;
  color: cyan;
  border: 2px solid rgba(0, 255, 255, 0.5); /* soft cyan border */
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 6px;
}

button:hover {
  border-color: cyan;
  background: rgba(0, 255, 255, 0.1);
}